.btn {
    position: fixed;
    z-index: 1001;
    padding: 1vh;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
}

body {
    margin: 0;
}

.events {
    position: absolute;
    right: 0;
    top: 0;
    background-color: wheat;
    height: 30vh;
    width: 40%;
    z-index: 1001;
}

.place-pet {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-20%);
    color: purple;
    border-radius: 30px;
    background-color: antiquewhite;
    padding: 10px;
    display: none;
    text-align: center;
    font-size: 12px;
}