@font-face {
    font-family: "Unbounded";
    src: url("/fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Unbounded-Black";
    src: url("/fonts/Unbounded-Black.ttf") format("truetype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.canvas-container {
    z-index: 10;
}

.btn {
    position: fixed;
    z-index: 1002;
    padding: 1vh;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
}

.events {
    position: absolute;
    right: 0;
    top: 0;
    background-color: wheat;
    height: 30vh;
    width: 40%;
    z-index: 1001;
}

.place-pet {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-20%);
    color: purple;
    border-radius: 30px;
    background-color: antiquewhite;
    padding: 10px;
    display: none;
    text-align: center;
    font-size: 12px;
}

.ui-container {
    width: 100%;
    height: 100vh;
    display: none;
}

/* INTERFACE */

.top-container {
    width: 100%;
    position: absolute;
    top: 2em;
    z-index: 1001;
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.fred-img {
    width: 100%;
}

.profile {
    background-image: url('/assets/profile-icon.svg');
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    transition: .2s;
}


.profile:hover {
    cursor: pointer;
    background-image: url('/assets/profile-active-icon.svg');
    transform: scale(1.05);
    transition: .2s;
}

.profile:active {
    cursor: pointer;
    transform: scale(.95);
    transition: .2s;
}

.profile-page {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #11005B;
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    border-radius: 36px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(50%, -50%);
    z-index: 1001;
    font-family: "Unbounded", sans-serif;
    transition: 1s;
}

.show-profile {
    left: 50%;
    transform: translate(-50%, -50%);
}

.show-profile-display {
    display: flex;
}

.dark-screen {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: #000;
    opacity: 0;
    z-index: -100;
    transition: 1s;
}

.dark-screen-show {
    opacity: 0.5;
    z-index: 11;
}

.profile-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile-section-header {
    width: 90%;
    border-radius: 20px;
    background-color: #110E31;
}

.profile-section-header-text {
    font-size: 0.87em;
    text-transform: uppercase;
    padding: 0.5em 0.8em;
    border-radius: 20px;
    background-color: #FEB27B;
    width: 50%;
    text-align: center;
    font-weight: 900;
    font-family: 'Unbounded-Black', sans-serif;
}


.profile-settings {
    background-image: url('/assets/settings-icon.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transition: .2s;
}

.profile-settings:hover {
    cursor: pointer;
    background-image: url('/assets/settings-active-icon.svg');
    transform: scale(1.05);
    transition: .2s;
}

.profile-settings:active {
    cursor: pointer;
    transform: scale(.95);
    transition: .2s;
}

.profile-section {
    width: 100%;
}


.bottom-container {
    width: 100%;
    height: 20vh;
    position: absolute;
    z-index: 1001;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


.feed-button {
    background-image: url('/assets/feed-icon.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transition: .2s;
}


.feed-button:hover {
    cursor: pointer;
    background-image: url('/assets/feed-active-icon.svg');
    transform: scale(1.05);
    transition: .2s;
}

.feed-button:active {
    cursor: pointer;
    transform: scale(.95);
    transition: .2s;
}

.sleep-button {
    background-image: url('/assets/sleep-icon.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transition: .2s;
}

.sleep-button:hover {
    cursor: pointer;
    background-image: url('/assets/sleep-active-icon.svg');
    transform: scale(1.05);
    transition: .2s;
}

.sleep-button:active {
    cursor: pointer;
    transform: scale(.95);
    transition: .2s;
}

.play-button {
    background-image: url('/assets/play-icon.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transition: .2s;
}


.play-button:hover {
    cursor: pointer;
    background-image: url('/assets/play-active-icon.svg');
    transform: scale(1.05);
    transition: .2s;
}

.play-button:active {
    cursor: pointer;
    transform: scale(0.95);
    transition: .2s;
}

.shop-button {
    background-image: url('/assets/shop-icon.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transition: .2s;
}


.shop-button:hover {
    cursor: pointer;
    background-image: url('/assets/shop-active-icon.svg');
    transform: scale(1.05);
    transition: .2s;
}

.shop-button:active {
    cursor: pointer;
    transform: scale(0.95);
    transition: .2s;
}


/* SLIDERS */

.slider {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow-x: scroll;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slide {
    width: 60px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

.slider-image {
    width: 100%;
    max-height: 76px;
    transition: .5;
}

.slider-image:hover {
    transform: scale(1.25);
    transition: .5;
    cursor: pointer;
    border-radius: 17px;
    box-shadow: 0px 0px 10px 3px #FEB27B;
}


.traits-page {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #11005B;
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    border-radius: 36px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(50%, -50%);
    z-index: 1002;
    font-family: "Unbounded", sans-serif;
    transition: 1s;
}

.show-traits {
    left: 50%;
    transform: translate(-50%, -50%);
}

.show-traits-display {
    display: flex;
}

.traits-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1.5em;
    background-color: #110E31;
    width: 90%;
    border-radius: 17px;
    margin-top: 2em;
}

.traits-header {
    width: 70%;
}

.traits-header-text {
    color: #E4E4E9;
    font-size: 0.87em;
    text-transform: uppercase;
    padding: 0.5em 0.8em;
    border-radius: 20px;
    background: linear-gradient(135deg, #5300DC 0%, #FF007D 100%);;
    text-align: center;
    font-weight: 900;
    font-family: 'Unbounded-Black', sans-serif;
}

.arrow {
    height: 100%;
}

.arrow-right {
    transform: rotate(180deg);
    height: 100%;
    transition: .3s;
}
.arrow-right:hover {
    cursor: pointer;
    scale: 1.15;
    transition: .3s;
}

.arrow-left {
    height: 100%;
    transition: .3s;
}

.arrow-left:hover {
    cursor: pointer;
    scale: 1.15;
    transition: .3s;
}

.traits-content-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    height: 70%;
    width: 90%;
    gap: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    scroll-behavior: smooth;
}



.traits-content-container::-webkit-scrollbar {
    display: none;
}

.traits-exit-container {
    margin-bottom: 1em;
}

.back-arrow {
    width: 100%;
    transition: .3s;

}

.back-arrow:hover {
    cursor: pointer;
    scale: 1.15;
    transition: .3s;
}